version: '3'
services:
  mongodb:
    domainname: story-line.ru
    hostname: mongodb
    build: ./mongodb
    ports:
     - "${mongodb_host_port ?: 27017}:27017"
     - "${mongodb_monit_host_port}:3000"
    volumes:
     - ${data_dir}:/data/db
     - ${logs_dir}:/data/logs
  zookeeper:
    domainname: story-line.ru
    hostname: zookeeper
    build: ./zookeeper
    ports:
     - "${zookeeper_host_port ?: 2181}:2181"
     - "${zookeeper_monit_host_port}:3000"
    volumes:
     - ${data_dir}:/data/db
     - ${logs_dir}:/data/logs
  elasticsearch:
    domainname: story-line.ru
    hostname: elasticsearch
    build: ./elasticsearch
    ports:
     - "${elasticsearch_host_port ?: 9200}:9200"
     - "${elasticsearch_monit_host_port}:3000"
    volumes:
     - ${logs_dir}:/data/logs
     - ${data_dir}:/data/db
  crawler:
    domainname: story-line.ru
    hostname: crawler
    build: ./crawler
    ports:
     - "${crawler_host_port}:8080"
     - "${crawler_monit_host_port}:3000"
     - "${crawler_java_debug_host_port}:60000"
     - "${crawler_java_jmx_host_port}:50000"
    volumes:
     - ${logs_dir}:/data/logs
     - ${data_dir}:/data/db
  server_web:
    domainname: story-line.ru
    hostname: server_web
    build: ./server_web
    depends_on:
        - zookeeper
        - elasticsearch
        - mongodb
    links:
        - zookeeper
        - elasticsearch
        - mongodb
    ports:
     - "${server_web_host_port}:8001"
     - "${server_web_monit_host_port}:3000"
     - "${server_web_ngnix_host_port}:8000"
    volumes:
     - ${logs_dir}:/data/logs
     - ${data_dir}:/data/db
